<div class="row">
      <div class="nav">
        <ul>
          <li>
            <a href="/#/brackets">My Brackets</a>
          </li>
          <li>
            <a ng-click="saveBracket()">Save</a>
          </li>
        </ul>
      </div>
      <div>
        <select>
          <option value="4">4 Teams</option>
          <option value="8" selected>8 Teams</option>
          <option value="16">16 Teams</option>
          <option value="32">32 Teams</option>
        </select>
      </div>
      <div class="name">
        {{ data.bracket.name }}
        <button ng-click="addTitle()">Edit Bracket Title</button>
      </div>
      <div class="col-1-5">
        <!-- LEFT SIDE BRACKET -->
        <div class="matchup">

          <div class="team">
            <span class="seed">1</span>
            <span ng-click="advanceTeam(0,8)">{{ data.bracket.teams[0] }}</span>
            <button ng-click="addTeam(0)">^</button>
          </div>

          <div class="spacer"></div>
          <div class="spacer"></div>
          <div class="vs">vs</div>
          <div class="spacer"></div>
          <div class="spacer"></div>

          <div class="team">
            <span class="seed">8</span>
            <span ng-click="advanceTeam(7,8)">{{ data.bracket.teams[7] }}</span>
            <button ng-click="addTeam(7)">^</button>
          </div>

        </div>
        <div class="matchup">

          <div class="team">
            <span class="seed">4</span>
            <span ng-click="advanceTeam(3,11)">{{ data.bracket.teams[3] }}</span>
            <button ng-click="addTeam(3)">^</button>
          </div>

          <div class="spacer"></div>
          <div class="spacer"></div>
          <div class="vs">vs</div>
          <div class="spacer"></div>
          <div class="spacer"></div>

          <div class="team">
            <span class="seed">5</span>
            <span ng-click="advanceTeam(4,11)">{{ data.bracket.teams[4] }}</span>
            <button ng-click="addTeam(4)">^</button>
          </div>

        </div>
      </div><!--
      --><div class="col-1-5">
        <!-- LEFT SEMI FINAL -->
        <div class="matchup">

          <div class="team">
            <span ng-click="advanceTeam(8,12)">{{ data.bracket.teams[8] }}</span>
          </div>

          <div class="spacer"></div>
          <div class="vs">vs</div>
          <div class="spacer"></div>

          <div class="team">
            <span ng-click="advanceTeam(11,12)">{{ data.bracket.teams[11] }}</span>
          </div>

        </div>
      </div><!--
      --><div class="col-1-5">
        <!-- CHAMPIONSHIP -->
        <div class="champ">{{ data.bracket.teams[14] }}</div>

        <div class="matchup">

          <div class="team">
            <span ng-click="advanceTeam(12,14)">{{ data.bracket.teams[12] }}</span>
          </div>

          <div class="vs">vs</div>

          <div class="team">
            <span ng-click="advanceTeam(13,14)">{{ data.bracket.teams[13] }}</span>
          </div>

        </div>
      </div><!--
      --><div class="col-1-5">
        <!-- RIGHT SEMI FINAL -->
        <div class="matchup">

          <div class="team">
            <span ng-click="advanceTeam(9,13)">{{ data.bracket.teams[9] }}</span>
          </div>

          <div class="spacer"></div>
          <div class="vs">vs</div>
          <div class="spacer"></div>

          <div class="team">
            <span ng-click="advanceTeam(10,13)">{{ data.bracket.teams[10] }}</span>
          </div>

        </div>
      </div><!--
      --><div class="col-1-5">
        <!-- RIGHT SIDE BRACKET -->
        <div class="matchup">

          <div class="team">
            <span class="seed">2</span>
            <span ng-click="advanceTeam(1,9)">{{ data.bracket.teams[1] }}</span>
            <button ng-click="addTeam(1)">^</button>
          </div>

          <div class="spacer"></div>
          <div class="spacer"></div>
          <div class="vs">vs</div>
          <div class="spacer"></div>
          <div class="spacer"></div>

          <div class="team">
            <span class="seed">7</span>
            <span ng-click="advanceTeam(6,9)">{{ data.bracket.teams[6] }}</span>
            <button ng-click="addTeam(6)">^</button>
          </div>

        </div>
        <div class="matchup">

          <div class="team">
            <span class="seed">3</span>
            <span ng-click="advanceTeam(2,10)">{{ data.bracket.teams[2] }}</span>
            <button ng-click="addTeam(2)">^</button>
          </div>

          <div class="spacer"></div>
          <div class="spacer"></div>
          <div class="vs">vs</div>
          <div class="spacer"></div>
          <div class="spacer"></div>

          <div class="team">
            <span class="seed">6</span>
            <span ng-click="advanceTeam(5,10)">{{ data.bracket.teams[5] }}</span>
            <button ng-click="addTeam(5)">^</button>
          </div>

        </div>
      </div>
    </div>